@import './global.less';

.investList {

    .item{
        padding: 10px;

    }
    .item-content {
        display: flex;
        align-items: center;
    }

    .item-1 {
        flex: 1;
    }

}
