@import './reset.less';
#root,
.wrap,
body,
html {
    height: 100%;
    overflow: hidden;
    overflow-scrolling: touch;
}

.container {
    padding-top: 40px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    z-index: 50;
}

.modal-in {
    display: block;
}

.modal-out {
    display: none;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.fz16 {
    font-size: 16px;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: " ";
    clear: both;
}

.swap-enter {
    opacity: 0.01;
    transform: translateY(-6em);
    transition: all 0.5s ease-in;
}

.swap-enter.swap-enter-active {
    opacity: 1;
    transform: translateY(0);
}